@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    height: 50vh;
    width: 50vw;
}

.card{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    flex: 0.5;
    cursor: pointer;
    border-radius: 10px;
    transition: flex 0.7s ease-in;
    margin: 5px;
}

.card h3{
    font-size: 24px;
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.card.active{
    flex: 5;
}

.card.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}